<div class="container">

<mat-toolbar class="toolbar"> <span>Angular Stripe Demo</span> </mat-toolbar>

<h1>Default Stripe Form</h1>

<button (click)="openCheckout()">Purchase</button>


<h1>Custom Form</h1>

<form novalidate [formGroup]="customForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="cardNumber" placeholder="Card Number" type="text">
  </mat-form-field>
    <input matInput formControlName="expiryMonth" placeholder="Expiry Month" type="text">
  <mat-form-field>
    <input matInput formControlName="expiryYear" placeholder="Expiry Year" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="cvc" placeholder="cvc" type="text">
  </mat-form-field>
  <button type="submit" mat-button>Purchase</button>
</form>

</div>
